/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "PT Sans";
  src: url("assets/font/PTSans-Regular.ttf") format("truetype");
}

* {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
}

body {
  margin: 0;

  & app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  @media screen and (max-width: 600px) {
    & app-root {
      header {
        order: 1;
      }
      main {
        order: 2;
      }
      nav {
        order: 3;
      }
    }
  }
}

a {
  color: inherit;
}

p-card {
  &::ng-deep .p-card-content {
    padding: .2rem 0 !important;
  }

  h2 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  p {
    margin: 0 0 .5rem;
  }
}

